@media screen and (max-height: 325px) {
    .logo, .arrow {
        top: 1rem; 
        left: 1rem;
    }
    .container, .main {
        padding: 1rem; 
    }
    .p-1 {
        max-width: 90%; 
    }
    .btn-1, .btn-2 {
        width: 90%; 
    }
    .btn-1, .btn-2, .btn-3 {
        font-size: 0.9rem;
    }
    .p-2 {
        font-size: 1.5rem;
    }
    .s-1, .s-2, .s-3 {
        margin-top: 0.75rem;
    }
}